html {
  height: 710px;
}
body {
  background-image: url("../assets/crew/background-crew-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  gap: 0;
  background-position: initial;
}
main {
  gap: 23px;
}
.choiceCrew {
  border-right: 0px solid #ffffff;
  border-bottom: 3px solid #ffffff;
}
.numberHeading {
  color: #ffffff34;
  font-weight: bold;
}
.title {
  font-weight: 400;
  color: var(--white);
}
.picConteiner {
  margin: auto;
  width: 327px;
  border-bottom: 1px solid rgba(56, 59, 75, 1);
}
.picCrew {
  margin: auto;
}
.picCom {
  width: 177.12px;
  height: 222px;
}
.picSpec {
  width: 153.92px;
  height: 222px;
}
.picPilot {
  width: 180.73px;
  height: 222px;
}
.picEng {
  width: 226.15px;
  height: 223px;
}
.text-gap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.slider {
  margin: 35px 0px 35px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.sliderDot {
  display: block;
  height: 10px;
  width: 10px;
  background-color: rgba(255, 255, 255, 0.178);
  border-radius: 50%;
}
.whiteDot {
  background-color: #ffffff;
}
.sliderDot:hover {
  background-color: rgba(255, 255, 255, 0.507);
}
.role {
  color: rgba(255, 255, 255, 0.5);
  font-family: var(--bellefair);
}
@media (min-width: 376px) {
  html {
    height: auto;
  }
  body {
    background-image: url("../assets/crew/background-crew-tablet.jpg");
    gap: 50px;
  }
  main {
    gap: 50px;
  }
  .conteiner {
    display: flex;
    flex-direction: column-reverse;
  }
  .picConteiner {
    border-bottom: 0px solid rgba(56, 59, 75, 1);
    width: auto;
  }
  .textAslider {
    display: flex;
    flex-direction: column-reverse;
  }
  .picCom {
    width: 456.37px;
    height: 572px;
  }
  .picSpec {
    width: 368.85px;
    height: 532px;
  }
  .picPilot {
    width: 433.09px;
    height: 532px;
  }
  .picEng {
    width: 539.51px;
    height: 532px;
  }
  .pickDest {
    text-align: left;
    margin: 0 0 0 39px;
  }
  .text-gap {
    gap: 14px;
  }
  .role {
    font-size: 24px;
  }
}
@media (min-width: 769px) {
  html {
    height: auto;
  }
  body {
    background-image: url("../assets/crew/background-crew-desktop.jpg");
    height: 900px;
  }
  main {
    display: flex;
    /* flex-direction: column; */
    text-align: left;
    gap: 0;
    margin: 0;
    align-items: flex-end;
    height: 100%;
    width: 100%;
  }
  .conteiner {
    flex-direction: row-reverse;
    margin: 0 50px 0 50px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgba(56, 59, 75, 1);
  }
  .pickDest {
    display: block;
    height: 50px;
    position: absolute;
    margin: 0 0 0 50px;
    align-self: flex-start;
  }
  .picConteiner {
    width: auto;
    height: auto;
    margin: 0;
    margin-left: 10px;
    /* align-self: flex-end; */
  }
  .picCom {
    width: 568.07px;
    height: 712px;
  }
  .picSpec {
    width: 453.44px;
    height: 654px;
  }
  .picPilot {
    width: 554.39px;
    height: 681px;
  }
  .picEng {
    width: 615.57px;
    height: 607px;
  }
  .textAslider {
    gap: 1em;
  }
  .slider {
    gap: 25px;
    margin: 0;
    justify-content: flex-start;
  }
  .sliderDot {
    width: 15px;
    height: 15px;
  }
  .text-gap {
    height: 300px;
    width: 650px;
  }
  .role {
    font-size: 32px;
    font-family: var(--bellefair);
  }
  p {
    width: 450px;
  }
}
