html {
  height: 850px;
}
body {
  background-image: url("../assets/destination/background-destination-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: initial;
  gap: 0;
}
main {
  gap: 0;
}
.numberHeading {
  color: #ffffff34;
  font-weight: bold;
}
.title {
  font-weight: 400;
  color: var(--white);
}
.moonPic {
  display: flex;
  width: 170px;
  height: 170px;
  margin: 36px auto 28px auto;
}
.choiceDes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 13px;
}
.liStyleMoons {
  font-size: var(--subheading2);
  letter-spacing: 2.36px;
  padding: 0 0 10px 0;
  font-family: var(--barlow);
  color: var(--purple);
}
.chosen {
  border-bottom: 3px solid var(--white);
  color: var(--white);
}
.liStyleMoons:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.493);
  color: var(--purple);
}
.headingMoon {
  margin: 24px 0 4px 0;
}
.line {
  border-bottom: 1px solid rgba(56, 59, 75, 1);
  width: 327px;
  align-self: center;
  margin: 31px auto 34px auto;
}
.subheading1 {
  font-family: var(--bellefair);
  font-size: var(--subheading1);
  letter-spacing: 0;
  text-transform: uppercase;
  margin: 15px 0 28px 0;
}
.subheading2 {
  font-family: var(--barlowCondensed);
  color: var(--purple);
  font-size: var(--subheading2);
  letter-spacing: 2.36px;
  text-transform: uppercase;
}

@media (min-width: 376px) {
  body {
    background-image: url("../assets/destination/background-destination-tablet.jpg");
  }
  h5 {
    display: flex;
    gap: 18px;
    text-align: left;
    margin: 42px 0 0 39px;
  }
  .moonPic {
    width: 300px;
    height: 300px;
    margin: 62px auto 57px auto;
  }
  .choiceDest {
    border-right: 0px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    gap: 29px;
  }
  .headingMoon {
    margin: 41px 0 4px 0;
  }
  .line {
    border-bottom: 1px solid rgba(56, 59, 75, 1);
    width: 573px;
  }
}
@media (min-width: 769px) {
  body {
    background-image: url("../assets/destination/background-destination-desktop.jpg");
    gap: 79px;
  }
  main {
    display: flex;
    gap: 150px;
    text-align: left;
  }
  .moonPic {
    width: 445px;
    height: 445px;
    margin-left: 69px;
  }
  .conteiner {
    width: 444px;
  }
  .choiceDes {
    justify-content: start;
    gap: 13px;
    margin-top: 64px;
  }
  .liStyleMoons {
    font-size: 16px;
    letter-spacing: 2.7px;
  }
  .headingMoon {
    margin: 24px 0 15px 0;
  }
  h5 {
    margin: 0;
  }
  .line {
    border-bottom: 1px solid rgba(56, 59, 75, 1);
    width: 444px;
    margin: 60px auto 34px auto;
  }
  .footer-conteiner {
    display: flex;
    gap: 50px;
  }
}
